{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My House</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
     <footer class="footer has-background-gray">
        <div class="container">
                <p class="is-uppercase is-size-4 has-text-blue has-text-weight-bold">Imobiliária My House</p>
                <p class="has-text-blue">Av. Roraima nº 1000</p>
                <p class="has-text-blue">myhouse@myhouse.com</p>
                <p class="has-text-blue">+(55) 3220-3030</p>
        </div>
      </footer>

      <section class="section has-background-grey-dark p-0 m-0">
          <div class="container">
              <div class="columns is-flex is-align-items-center">
                  <div class="column has-text-white is-flex is-justify-content-center">
                      <p>Desenvolvido por Aline Gassenn</p>
                  </div>
              </div>
          </div>
      </section>
</body>
</html>